<style>
    .table td,
    .table th {
        vertical-align: middle;
    }  
   
    .jumbotron {
        min-height: auto;
    }
</style>

<div class="border p-2">
    <h4>Vista de Productos</h4>
    <br>
    
    {{#if products.length}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img width="50" src={{this.thumbnail}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h4 class="alert alert-danger fw-semibold text-center">No se encontraron productos</h4>
    {{/if}}